.app-container {
    .header-container {
        .navbar-brand {
            z-index: 10;
            opacity: 0.6;
        }

        .navbar-nav {
            z-index: 10;
            opacity: 0.6;

            // 2 class ngang hang voi nhau dung &
            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }
}

video {
    position: fixed;
    bottom: 0;
    width: 100vw;

}